<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Hello, Flask!
    </p>

    #ENVIROMENT VARIABLES
    <ul>
        {% for key, value in env.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul> 
</body>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 40px;
    }
    p {
        color: #333;
        font-size: 20px;
    }
</style>
</html>